<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - The Sports Headquarters</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            Welcome!
        </header>
        <div id="body">
            The Sports Headquarters exists to track fantasy games, strat-o-matic seasons and anything else.
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - The Sports Headquarters</p>
                </div>
            </div>
        </footer>
    </body>
</html>
